<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings> 
        <setting name="cacheEnabled" value="true" /><!-- 全局映射器启用缓存 -->   
        <setting name="useGeneratedKeys" value="true" /> 
        <setting name="defaultExecutorType" value="REUSE" /> 
    </settings>

	<typeAliases>
		<typeAlias type="com.yunva.model.system.User" alias="User"/>
		<typeAlias type="com.yunva.model.system.Role" alias="Role"/>
		<typeAlias type="com.yunva.model.system.Menu" alias="Menu"/>
		<typeAlias type="com.yunva.util.PageData" alias="pd"/>
		<!-- 分页 -->
		<typeAlias type="com.yunva.model.Page" alias="Page"/>
	</typeAliases>
	
	<plugins>
		<plugin interceptor="com.yunva.plugin.PagePlugin">
			<property name="dialect" value="mysql"/>
			<property name="pageSqlId" value=".*listPage.*"/>
		</plugin>
	</plugins>
	
</configuration>